<html>
  <head>
    <title>Takeaway</title>
  </head>
  <body>
  	<header>
      <h1>Welcome to Takeaway</h1>
  	</header>
    <nav>
    <form action="/menu" method="get">
    	 <button id="Menu">Menu</button>
	</form>
    </nav>
  </body>
</html>